<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset page</title>
</head>
<body>

<h1>AppAgency index</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>UpdatedAt</th>
        <th>CreatedAt</th>
        <th>Name</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for app_agency in agencies %}
        <tr>
            <td>{{ app_agency.id }}</td>
            <td>{{ app_agency.updatedAt ? app_agency.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ app_agency.createdAt ? app_agency.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ app_agency.name }}</td>
            <td>
                <a href="{{ path('instilla_user_agency_show', {'id': app_agency.id}) }}">show</a>
                <a href="{{ path('instilla_user_agency_edit', {'id': app_agency.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('instilla_user_agency_new') }}">Create new</a>

</body>
</html>