<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block inner_head %} {% endblock %}
    {% block stylesheets %}

        <style>
            body, html {
                min-height: 100vh;
                padding: 0;
                margin: 0;
            }

            .iu-label {
                display: inline-block;
                min-width: 10rem;
            }

            .iu-form-group {
                margin-bottom: 1rem;
                display: inline-block;
            }

            .iu-text-center {
                text-align: center;
            }

            .iu-link-block {
                display: block;
                margin-bottom: 1rem;
            }

            .iu-main-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
                min-width: 100vw;
                min-height: 100vh;
            }

            .iu-main-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                min-width: 100vw;
                min-height: 100vh;
            }

            .iu-container {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
            }

            .iu-form {
                display: inline-flex;
                flex-direction: column;
            }
        </style>

    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
