{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Login page {% endblock %}

{% block body %}
    <div class="iu-main-col">
        <div class="iu-container">
            <h1>Login</h1>
            <form action="{{ path("instilla_user_security_check") }}" method="post" class="iu-form">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                {# Uncomment this to specify where the user is sent after login #}
                {# <input type="hidden" name="_target_path" value="/" /> #}

                <div class="iu-form-group form-group">
                    <label for="username" class=" iu-label">Email</label>
                    <input class="iu-form-control form-control" type="email" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="email"/>
                </div>

                <div class="iu-form-group form-group">
                    <label for="password" class="iu-label">Password</label>
                    <input type="password" class="iu-form-control form-control" id="password" name="_password" required="required" autocomplete="current-password"/>
                </div>

                <div class="iu-form-check form-check iu-text-center">
                    <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" checked/>
                    <label class="form-check-label" for="remember_me">Remember me</label>
                </div>

                <input class="iu-btn btn btn-success" type="submit" id="_submit" name="_submit" value="Login"/>
            </form>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {% include '@InstillaUser/_flash_messages.html.twig' %}

            <br/>
            <br/>
            <p>
                Don't you have an account yet?
                <button class="iu-btn btn">
                    <a href="{{ path("instilla_user_registration_signup_page") }}">Signup</a>
                </button>
            </p>
            <p>
                Did you forget your password? <a class="iu-link-block" href="{{ path("instilla_user_registration_password_reset_page") }}">Reset password</a>
            </p>
        </div>
    </div>
{% endblock %}
