{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Password reset {% endblock %}
    
{% block body %}
    <div class="iu-main-col">
        <div class="iu-container">
            <h1>Password reset</h1>
            {% if success %}
                <p>
                    You successfully reset your password. You can now login again at the following link:
                    <a href="{{ path('instilla_user_security_login_page') }}">login page</a>
                </p>
            {% else %}
                <p>
                    Something went wrong in the password reset process. Please, try again at the following link:
                    <a href="{{ path('instilla_user_registration_password_reset_page') }}">reset password.</a>
                </p>
            {% endif %}
            {% include '@InstillaUser/_flash_messages.html.twig' %}
        </div>
    </div>
{% endblock %}
