{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Password reset page {% endblock %}

{% block body %}
    <div class="iu-main-col">

        <div class="iu-container">
            <h1>Reset your password</h1>
            <form action="{{ path("instilla_user_registration_do_reset_password_action") }}" method="post" class="iu-form">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <input type="hidden" name="_token" value="{{ token }}"/>

                <div class="iu-form-group form-group">
                    <label for="password" class="iu-label">Password</label>
                    <input class="iu-form-control form-control" type="password" id="password" name="_password" required="required" autocomplete="new-password"/>
                </div>

                <div class="iu-form-group form-group">
                    <label for="password2" class="iu-label">Re-type Password</label>
                    <input class="iu-form-control form-control" type="password" id="password2" name="_password2" required="required" autocomplete="new-password"/>
                </div>

                <input class="btn iu-btn btn-success" type="submit" id="_submit" name="_submit" value="Reset password"/>
            </form>

            {% include '@InstillaUser/_flash_messages.html.twig' %}

        </div>
    </div>
{% endblock %}