{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Email verification {% endblock %}

{% block body %}
    <div class="iu-main-col">
        <div class="iu-container">
            <h1>Email verification</h1>
            {% if success %}
                <p>
                    You successfully verified your email. You can now login at the following link:
                    <a href="{{ path('instilla_user_security_login_page') }}">login page.</a>
                </p>
            {% else %}
                <p>
                    It was not possible to verify your account at this time.
                    Please try to signup again with the same email: <a href="{{ path('instilla_user_registration_signup_page') }}">signup page</a>.
                </p>
            {% endif %}
            {% include '@InstillaUser/_flash_messages.html.twig' %}
        </div>
    </div>
{% endblock %}
