{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Post password reset request {% endblock %}

{% block body %}
    <div class="iu-main-col">

        <div class="iu-container">
            {% if success %}
                <h1>Password reset request</h1>
                <p>If the user exists, you will receive an email.</p>
            {% else %}
                <h1>Something went wrong during the password reset process</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}