{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Password reset page {% endblock %}

{% block body %}
    <div class="iu-main-col">
        <h1>Reset password</h1>
        <div class="iu-container">
            <form action="{{ path("instilla_user_registration_password_reset_action") }}" method="post" class="iu-form">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="iu-form-group form-group">
                    <label for="username" class=" iu-label">Email</label>
                    <input class="iu-form-control form-control" type="email" id="username" name="_username" required="required" autocomplete="email"/>
                </div>

                <div class="iu-form-group form-group iu-text-center text-center">
                    <input class="iu-btn btn btn-success" type="submit" id="_submit" name="_submit" value="Reset password"/>
                </div>
            </form>
            {% include '@InstillaUser/_flash_messages.html.twig' %}
        </div>
    </div>
{% endblock %}
