{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Signup page {% endblock %}

{% block body %}
    <div class="iu-main-col">
        <div class="iu-container">
            <form action="{{ path("instilla_user_registration_signup_action") }}" method="post" class="iu-form">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="iu-form-group form-group">
                    <label for="username" class="iu-label">Email</label>
                    <input class="iu-form-control form-control" type="email" id="username" name="_username" required="required" autocomplete="email" value="{{ last_email | default('') }}"/>
                </div>

                <div class="iu-form-group form-group">
                    <label for="password" class="iu-label">Password</label>
                    <input class="iu-form-control form-control" type="password" id="password" name="_password" required="required" autocomplete="new-password"/>
                </div>

                <div class="iu-form-group form-group">
                    <label for="password2" class="iu-label">Re-type Password</label>
                    <input class="iu-form-control form-control" type="password" id="password2" name="_password2" required="required" autocomplete="new-password"/>
                </div>

                <input class="iu-btn btn btn-success" type="submit" id="_submit" name="_submit" value="Signup"/>
            </form>
            {% include '@InstillaUser/_flash_messages.html.twig' %}
            <br/>
            <br/>
            <p>
                Do you already have an account?
                <button class="iu-btn btn">
                    <a href="{{ path("instilla_user_security_login_page") }}">Login</a>
                </button>
            </p>
        </div>
    </div>
{% endblock %}
