{% extends '@InstillaUser/base.html.twig' %}
{% block title %} Post signup {% endblock %}

{% block body %}
    <div class="iu-main-col">

        <div class="iu-container">
            {% if success %}
                <h1>Signup successful</h1>
                <p>You successfully signed up. Please, confirm your account through the the confirmation link we sent to your email address, {{ email }}.</p>
            {% else %}
                <h1>Something went wrong during the signup process</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}