<p>Hello, {{ email }}!</p>

<p>
    Someone requested a password reset for your account.<br/>
    If it was you, please go to <a href="{{ verification_url }}">{{ verification_url }}</a> to complete the password reset procedure.
</p>

<p>
	Best regards,<br/>the Team
</p>
