<p>Hello, {{ email }}! You successfully registered your account.</p>

<p>
	Please go to <a href="{{ verification_url }}">{{ verification_url }}</a> to verify your email address!
</p>

<p>
	Best regards,<br/>the Team
</p>
